<!DOCTYPE html>
<html>

<head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <link rel="stylesheet" href="main.css" type="text/css">
</head>

<body>
<h2>User Search</h2>

<div ng-app="" ng-controller="userController">
    <form class="form-inline">
        <input ng-model="query" type="text"
               placeholder="enter your filter here" autofocus>
    </form>

    <div ng-repeat="u in users | filter:query | orderBy: 'name' "
         ng-class="{'searchresult': true, 'sr_red': u.adult, 'sr_green': !u.adult}">
        <span class="label">name: </span> {{ u.name }}<br>
        <span class="label">address: </span> {{ u.address }}<br>
        <span class="label">contact: </span> {{ u.contact }}<br>
    </div>

</div>

<script>
  function userController($scope, $http) {
    $http.get("http://localhost:8080/resource/user?dealerId=4")
    .success(function(response) {$scope.users = response;});
  }



</script>

</body>
</html>
