<!DOCTYPE html>
<html>

<head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <link rel="stylesheet" href="main.css" type="text/css">
</head>

<h2>User Search</h2>

<body>


<div ng-app="" ng-controller="userController">
    <form class="form-inline">
        <input ng-model="query" type="text"
               placeholder="enter your filter here" autofocus>
    </form>
    <ul>
        <li ng-repeat="u in users | filter:query | orderBy: 'lastName' ">
            <div id="searchresult">
                <span id="label">name: </span> {{ u.lastName + ' ' + u.firstName }}<br>
                <span id="label">adress: </span> {{ u.street + ', ' + u.city }}<br>
                <span id="label">phone: </span> {{ u.phone }}<br>
                <span id="label">age: </span> {{ u.age }}<br>
            </div>
        </li>
    </ul>
</div>

<script>
  function userController($scope, $http) {
    $http.get("http://localhost:8080/getUser?dealerId=4")
    .success(function(response) {$scope.users = response;});
  }

</script>

</body>
</html>
